/* SEARCH */
.search-form {
  position: absolute; 
  right: 25px; 
  margin-top: 30px;
}

.search-form input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--background-color);
  }

  .moved-down {
    margin-top: 100px; 
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
  }
  
  .slide img {
    width: 20%;
    display: block;
  }
  
  .prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--background-color);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-slide {
    left: 10px;
  }
  
  .next-slide {
    right: 10px;
  }
  