/* navigatie */
.header-title {
  color: #ffffff; /* Zet de tekstkleur op wit of een andere gewenste kleur */
}

.header-title a {
  color: #ffffff; /* Zorg ervoor dat links binnen de richText ook zichtbaar zijn */
}

nav {
  position: relative;
}

nav input {
  display: none;
}

nav span {
  display: none;
}

#nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-menu li {
  padding: 1em 1.25em;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-size: var(--font-size-h3);
}

.header-section {
  text-align: left; 
  margin: 40px;
}

.header-section picture img {
  max-width: 100%; 
  width: 100%; 
  height: auto; 
  display: block;
  margin: 0 auto;
}

.news-section {
  padding: 1em;
}

.margin {
  margin-bottom: 100px;
}

.news-section article {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  background-color: var(--background-color);
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);
}

.news-section article img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}

.news-section article .categories {
  padding: 0.5rem 0;
}

.news-section article .categories span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--background-color);
}

/* detail pagina van sport */
.article-details {
  max-width: 800px;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  margin-top: 100px;
}

.article-details img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.article-details p {
  margin: 2rem;
}

.article-details h2 {
  margin-left: 2rem;
}

/* sport main page */
.plugin-categories {
  padding: 1rem 0 0 0;
  display: flex;
  max-width: 1000px;
  text-decoration: none;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.plugin-categories input {
  display: none;
}

.plugin-categories label {
  border: 2px solid var(--main-color);
  border-radius: 12px;
  padding: 12px;
  margin-top: 1.5rem;
}

.plugin-categories label:has(input:checked) {
  color: var(--background-color);
  background-color: var(--main-color-hover);
}


/* CONTACT PAGINA */
.contact {
  max-width: 800px;
  margin: 50px auto;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 8px;
}

/* titels */
.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-black);
}

.contact h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--color-black);
}

/* Styling voor tekstsecties */
.contact .full-text,
.contact .rich-text {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}

/* About Us sectie */
.about-us,
.contact-us {
  background-color: #f9fafc;
  padding: 1.5rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.about-us {
  border-left: 4px solid var(--main-color);

}

.contact-us {
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(180, 180, 180, 0.1);
  border-left: 4px solid #9fb9ff;
}

.contact-us p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #444;
}

.contact-us a {
  color: #025cbd;
  text-decoration: none;
}

.contact-us a:hover {
  text-decoration: underline;
}

/* SEARCH */
.search-form {
  position: absolute; 
  right: 25px; 
  top: 120px; 
}

.search-form input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.search-form button {
  padding: 5px;
}
/* styles.css of een andere naam die je gebruikt */
.moved-down {
  margin-top: 100px; /* Verplaatst de sectie 100px naar beneden */
}

/* styles.css of je eigen CSS-bestand */
 .slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Zorg ervoor dat elke slide 100% van de container breedte inneemt */
 }

.slide {
  min-width: 100%;
} 

 .prev-slide, .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Zodat de knoppen zichtbaar blijven boven de slides */
 } 
 
.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
} 



@media (max-width: 768px) {
  .contact {
      padding: 1rem;
  }

  .contact h1 {
      font-size: 2rem;
  }

  .contact h2 {
      font-size: 1.5rem;
  }

  .contact .full-text,
  .contact .rich-text {
      font-size: 1rem;
  }

  .about-us,
  .contact-us {
      padding: 1rem;
  }
}


/* HAMBURGER MENU */
@media only screen and (max-width: 959px) {
  #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    position: absolute;
    top: 2.5em;
    right: 1em;
    z-index: 2;
  }

  nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
  }

  nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: var(--background-color);
    border-radius: 3px;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease;
  }

  nav span:first-child {
    transform-origin: 0% 0%;
  }

  nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  nav #menu-toggle:checked~span {
    background: var(--background-color);
  }

  nav #menu-toggle:checked~span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  nav #menu-toggle:checked~span:nth-last-child(2) {
    opacity: 0;
  }

  nav #menu-toggle:checked~span:nth-last-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav #menu-toggle:checked~#nav-menu {
    transform: translateX(0);
  }

  #nav-menu li {
    margin: 1em 0;
  }
}

/* TABLET FORMAAT */
@media only screen and (min-width: 960px) {

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-medium);
  }

  .header-section {
    margin: 50px;
  }

 
  .nav-menu {
    display: flex;
    align-items: center;
  }

  #nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #nav-menu li {
    margin-left: 20px;
  }

  #nav-menu a {
    text-decoration: none;
    color: var(--background-color);
    font-size: var(--font-size-h3-mobile);
  }

  .all-news.news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5em;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
  }
}
/* FOOTER */
.site-footer {
  background-color: var(--main-color); 
  color: var(--background-color); 
  padding: 20px 20px;
  margin: 100px 0 0;
  width: 100%; 
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}

@media (min-width: 960px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 45%; 
}

.footer-section.about {
    margin-right: 100px; 
}
}