{# {% extends "_layout.twig" %}

{% block content %}
  <section class="news-section all-news">
    {% set entries = craft.entries().section('sport').all() %}

    {% for entry in entries %}
    <article class="news-item">
      <div class="image-container">
        <img src="{{entry.bannerImage.one().url('banner')}}" alt="">
      </div>
      <div class="text-content">
        <h2><a href="{{entry.url}}">{{entry.title}}</a></h2>
        <p>{{entry.introText}}</p>
      </div>
    </article>
    {% endfor %}
  </section>
{% endblock %} #}
