{% extends "_layout.twig" %}

{% block content %}
    <section class="article-details">
        <img src="{{entry.bannerImage.one().url('header')}}" alt="">
        <h1>{{ entry.title }}</h1>
        <p>{{ entry.introText }}</p>
        <p>{{ entry.fullText }}</p>
    </section>
{% endblock %}
