<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css?12350') %}
</head>
<body>
    <header>
      {% set headerTitle = craft.entries().section('headerTitle').one() %}
      {{headerTitle.richText}}
      <nav>
        <input type="checkbox" name="menu-toggle" id="menu-toggle"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/producten">Producten</a></li>
          <li><a href="/sporten">Sporten</a></li>
          <li><a href="/accessoires">Accessoires</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {# hier komt de content #}
    {% endblock %}
</body>
</html>
