{% extends "_layout" %}

{% block content %}
   <section class="header-section">
    <h1 style="font-size: 32px; text-align: left; ">Welcome to Fit&Active</h1>

   <section class="header">
    {% set entries = craft.entries().section('homepage').all %}
    {% for entry in entries %}
      <article>
        <picture>
          {% set bannerImage = entry.bannerImage.one() %}
          {% if bannerImage %}
             <img src="{{ bannerImage.url('mainBanner') }}" alt=""> 
          {% endif %}
        </picture>
        <div>
          <h2><a href="{{ url('sport') }}">{{ entry.title }}</a></h2> 
            <p class="margin">{{ entry.introText }}</p>
        </div>
      </article>
    {% endfor %}   
     </section>    

    
    {% include "categories/_allhomepage.twig" %}


{% endblock %} 